.container {
  position: fixed;
  top: 25%;
}

.container h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.container p {
  font-size: 16px;
  margin-top: 2em;
}

.container ul li {
  padding-right: 2em;
}

.container a {
  font-size: 20px;
}
