.container {
  top: 0;
  margin-bottom: 50px;
}

.container h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.4em;
}

.container ul {
  margin-top: 0.5em;
}

.container ul li {
  padding-right: 1.5em;
}

.container ul li a {
  font-size: 18px;
}

.container h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  margin-bottom: 0.2em;
}

hr {
  width: 60%;
  size: 3px;
}

.body {
  width: 50%;
  margin: 0 25%;
}

.body p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-indent: 30px;
  text-align: left;
}

@media screen and (max-width: 750px) {
  .body {
    width: 90%;
    margin: 0 5%;
  }
}
